.header
{
	flex: 1;
    background-color: #FFA500;
    
}

.header h1
{
    margin: 0%;
}

.container
{
    display: flex;
    
}

#sidebar
{
    flex: 1;
    background-color: #FFD700;
    padding-bottom: 30%;
}

#content
{
	flex: 4;
    background-color: #eeeeee;
}

.footer
{
	flex: 1;
	background-color: #FFA500;
	text-align: center;
}


.supcontainer
{
	width: 80%;
    margin: auto;
}

table , td{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width : "50%"  ;
   
}

.hd 
{
    background-color: blue;
}