body
{
	
	font-family: Georgia , Sans-serif;
	font-size: 12px;
}
.clear
{
	clear: both;
}
.header
{
	width: 100%;
	background-color: #FFA500;

	
}

#sidebar
{
	float: left;
	width: 20%;
	padding-bottom: 500px;
	background-color: #FFD700;
	box-sizing: border-box;
}

#content
{
	float :right ;
	width: 80%;
	padding-bottom: 500px;
	background-color: #eeeeee;
	box-sizing: border-box;
}

.container
{
	width: 80%;
	margin: auto;
}

.footer
{
	width: 100%;
	background-color: #FFA500;
	text-align: center;
}